<p style="color: green"><%= notice %></p>

<h1>Tasks</h1>
<%= form_with(model: @task, class: "row g-3") do |form| %>
    <div class="col-auto">
        <%= form.label :to_do %>
        <%= form.text_field :name %>
    </div>
    <div class="col-auto">
        <%= form.button :submit, class: "btn btn-primary mb-3" %>
    </div>
<% end %>

<h3>TO DO TASKS</h3>
<%=turbo_frame_tag "to_do_list" do %>
  <%= render @tasks %>
<% end %>

<h3>COMPLETED TASKS</h3>
<%=turbo_frame_tag "done_list" do %>
  <%= render @done_tasks %>
<% end %>